*{
    background-color: black;
    color: aliceblue;
}
p{
    font-size: 22px;

}
button{
    border: 1px solid whitesmoke;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    font-weight: bold;
    
}