
body{
    background-color: aquamarine;
}
.lists{
    width: 80vw;
    border: 1px solid;
    background-color: bisque;
}
/*
#li-items{
    font-size: 26px;
    font-weight: bold;
}

#li-discription{
    font-size: 18px;

}
*/